header .logo-one {
    padding: 80px;
}

header .background-blue {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 61px;
    margin-left: 1px;
}

header .kids-runing {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 61px;
    padding-left: 680px;
    padding-bottom: 10px;
}

header .description {
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
    padding-left: 130px;
    padding-top: 130px;
}

section .title-one h5 {
    color: #4147c1;
}

section .title-two h5 {
    color: #4147c1;
}

section .title-one img {
    margin-left: 900px;
    margin-bottom: -300px;
}

section .title-two img {
    margin-left: 900px;
    margin-bottom: -300px;
}