header .logo-one {
    padding: 80px;
}

header .background-blue {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 61px;
    padding-left: 37px;
    padding-top: 5px;
}

header .kids-runing {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 61px;
    padding-left: 880px;
    padding-top: 75px;
}

header .description {
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
    padding-left: 530px;
    padding-top: 130px;
}